## Import Dependancies

In [1]:
import pandas as pd
import datetime as dt
import holidays

## Import KSI csv

In [2]:
ksi_df = pd.read_csv("../Kill or Seriously Injured/KSI.csv")
ksi_df.head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8.844611e+06,5.412414e+06,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
1,-8.844611e+06,5.412414e+06,3387731,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),2
2,-8.816480e+06,5.434843e+06,3388101,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),3
3,-8.816480e+06,5.434843e+06,3388102,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),4
4,-8.822759e+06,5.424516e+06,3387793,892682,2006,2006/03/12 05:00:00+00,240,2,EGLINTON AVE E,COMMONWEALTH AVE,...,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,D41,138,Eglinton East (138),5

In [3]:
ksi_df.columns

Index(['X', 'Y', 'INDEX_', 'ACCNUM', 'YEAR', 'DATE', 'TIME', 'HOUR', 'STREET1',
       'STREET2', 'OFFSET', 'ROAD_CLASS', 'DISTRICT', 'WARDNUM', 'DIVISION',
       'LATITUDE', 'LONGITUDE', 'LOCCOORD', 'ACCLOC', 'TRAFFCTL', 'VISIBILITY',
       'LIGHT', 'RDSFCOND', 'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE',
       'INJURY', 'FATAL_NO', 'INITDIR', 'VEHTYPE', 'MANOEUVER', 'DRIVACT',
       'DRIVCOND', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT',
       'CYCCOND', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK',
       'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV',
       'REDLIGHT', 'ALCOHOL', 'DISABILITY', 'POLICE_DIVISION', 'HOOD_ID',
       'NEIGHBOURHOOD', 'ObjectId'],
      dtype='object')

In [4]:
for column in ksi_df.columns:
    print(f"{column} has {len(ksi_df[ksi_df[column] == '<Null>'])} null values")

X has 0 null values
Y has 0 null values
INDEX_ has 0 null values
ACCNUM has 0 null values
YEAR has 0 null values
DATE has 0 null values
TIME has 0 null values
HOUR has 0 null values
STREET1 has 0 null values
STREET2 has 1510 null values
OFFSET has 14114 null values
ROAD_CLASS has 497 null values
DISTRICT has 141 null values
WARDNUM has 196 null values
DIVISION has 196 null values
LATITUDE has 0 null values
LONGITUDE has 0 null values
LOCCOORD has 105 null values
ACCLOC has 5450 null values
TRAFFCTL has 29 null values
VISIBILITY has 18 null values
LIGHT has 0 null values
RDSFCOND has 23 null values
ACCLASS has 0 null values
IMPACTYPE has 4 null values
INVTYPE has 12 null values
INVAGE has 0 null values
INJURY has 1612 null values
FATAL_NO has 16147 null values
INITDIR has 4894 null values
VEHTYPE has 2813 null values
MANOEUVER has 7233 null values
DRIVACT has 8398 null values
DRIVCOND has 8396 null values
PEDTYPE has 14074 null values
PEDACT has 14081 null values
PEDCOND has 14025 null values
CYCLISTYPE has 16160 null values
CYCACT has 16153 null values
CYCCOND has 16154 null values
PEDESTRIAN has 10033 null values
CYCLIST has 15081 null values
AUTOMOBILE has 1552 null values
MOTORCYCLE has 15476 null values
TRUCK has 15818 null values
TRSN_CITY_VEH has 15849 null values
EMERG_VEH has 16829 null values
PASSENGER has 10498 null values
SPEEDING has 14575 null values
AG_DRIV has 8157 null values
REDLIGHT has 15451 null values
ALCOHOL has 16121 null values
DISABILITY has 16392 null values
POLICE_DIVISION has 0 null values
HOOD_ID has 0 null values
NEIGHBOURHOOD has 0 null values
ObjectId has 0 null values

## Drop Columns

In [5]:
drop_columns = ['X', 'Y', 'INDEX_','TIME', 'STREET1',
       'STREET2', 'OFFSET', 'WARDNUM', 'DIVISION', 'ACCLOC', 'FATAL_NO', 'INITDIR', 'DRIVACT',
       'DRIVCOND', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT',
       'CYCCOND']

new_ksi_df = ksi_df.drop(columns=drop_columns, axis=1)
new_ksi_df.head()

,ACCNUM,YEAR,DATE,HOUR,ROAD_CLASS,DISTRICT,LATITUDE,LONGITUDE,LOCCOORD,TRAFFCTL,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,892658,2006,2006/03/11 05:00:00+00,8,Major Arterial,Toronto and East York,43.656345,-79.452490,Intersection,Traffic Signal,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
1,892658,2006,2006/03/11 05:00:00+00,8,Major Arterial,Toronto and East York,43.656345,-79.452490,Intersection,Traffic Signal,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),2
2,892810,2006,2006/03/11 05:00:00+00,9,Major Arterial,Scarborough,43.801943,-79.199786,Intersection,Traffic Signal,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),3
3,892810,2006,2006/03/11 05:00:00+00,9,Major Arterial,Scarborough,43.801943,-79.199786,Intersection,Traffic Signal,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),4
4,892682,2006,2006/03/12 05:00:00+00,2,Major Arterial,Scarborough,43.734945,-79.256190,Mid-Block,No Control,...,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,D41,138,Eglinton East (138),5

In [6]:
new_ksi_df.dtypes

ACCNUM               int64
YEAR                 int64
DATE                object
HOUR                 int64
ROAD_CLASS          object
DISTRICT            object
LATITUDE           float64
LONGITUDE          float64
LOCCOORD            object
TRAFFCTL            object
VISIBILITY          object
LIGHT               object
RDSFCOND            object
ACCLASS             object
IMPACTYPE           object
INVTYPE             object
INVAGE              object
INJURY              object
VEHTYPE             object
MANOEUVER           object
PEDESTRIAN          object
CYCLIST             object
AUTOMOBILE          object
MOTORCYCLE          object
TRUCK               object
TRSN_CITY_VEH       object
EMERG_VEH           object
PASSENGER           object
SPEEDING            object
AG_DRIV             object
REDLIGHT            object
ALCOHOL             object
DISABILITY          object
POLICE_DIVISION     object
HOOD_ID              int64
NEIGHBOURHOOD       object
ObjectId             int64
dtype: object

In [7]:

new_ksi_df['DATE'] =  pd.to_datetime(new_ksi_df['DATE'])
new_ksi_df.head(1)

,ACCNUM,YEAR,DATE,HOUR,ROAD_CLASS,DISTRICT,LATITUDE,LONGITUDE,LOCCOORD,TRAFFCTL,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,892658,2006,2006-03-11 05:00:00+00:00,8,Major Arterial,Toronto and East York,43.656345,-79.45249,Intersection,Traffic Signal,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1

In [8]:
new_ksi_df['WEEKDAY'] = pd.to_datetime(new_ksi_df['DATE']).dt.dayofweek

In [9]:
new_ksi_df['WEEKDAY'].value_counts()

4    2750
1    2494
2    2406
3    2331
5    2309
6    2300
0    2270
Name: WEEKDAY, dtype: int64

In [10]:
new_ksi_df['IS_WEEKEND'] = (new_ksi_df['WEEKDAY'] > 4).astype(int)
new_ksi_df.tail()

,ACCNUM,YEAR,DATE,HOUR,ROAD_CLASS,DISTRICT,LATITUDE,LONGITUDE,LOCCOORD,TRAFFCTL,...,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId,WEEKDAY,IS_WEEKEND
16855,1636966,2020,2020-08-30 04:00:00+00:00,13,<Null>,<Null>,43.714793,-79.238926,Mid-Block,No Control,...,Yes,<Null>,<Null>,<Null>,D41,123,Cliffcrest (123),16856,6,1
16856,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16857,1,0
16857,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16858,1,0
16858,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16859,1,0
16859,1650875,2020,2020-09-01 04:00:00+00:00,12,<Null>,<Null>,43.660144,-79.434086,Mid-Block,No Control,...,<Null>,<Null>,<Null>,<Null>,D14,93,Dovercourt-Wallace Emerson-Junction (93),16860,1,0

In [11]:
for x in new_ksi_df['WEEKDAY']:
    new_ksi_df['WEEKDAY'].replace([0,1,2,3,4,5,6], ['Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'], inplace=True)

In [12]:
new_ksi_df.tail()

,ACCNUM,YEAR,DATE,HOUR,ROAD_CLASS,DISTRICT,LATITUDE,LONGITUDE,LOCCOORD,TRAFFCTL,...,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId,WEEKDAY,IS_WEEKEND
16855,1636966,2020,2020-08-30 04:00:00+00:00,13,<Null>,<Null>,43.714793,-79.238926,Mid-Block,No Control,...,Yes,<Null>,<Null>,<Null>,D41,123,Cliffcrest (123),16856,Sunday,1
16856,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16857,Tuesday,0
16857,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16858,Tuesday,0
16858,1650701,2020,2020-09-01 04:00:00+00:00,12,Major Arterial,Scarborough,43.740256,-79.232021,Intersection,Traffic Signal,...,Yes,<Null>,<Null>,<Null>,D43,138,Eglinton East (138),16859,Tuesday,0
16859,1650875,2020,2020-09-01 04:00:00+00:00,12,<Null>,<Null>,43.660144,-79.434086,Mid-Block,No Control,...,<Null>,<Null>,<Null>,<Null>,D14,93,Dovercourt-Wallace Emerson-Junction (93),16860,Tuesday,0

In [13]:
can_holidays = []
x = range(2006,2021)
for date in holidays.Canada(years=x, prov='ON').items():
    can_holidays.append(str(date[0]))

toronto_holiday = holidays.Canada(prov='ON')

new_ksi_df['IS_HOLIDAY'] = [
    1 if str(val).split()[0] in can_holidays else 0 for val in new_ksi_df['DATE']
]

new_ksi_df['HOLIDAY'] = [
    toronto_holiday.get(str(val).split()[0]) if str(val).split()[0] in can_holidays 
    else 'None' for val in new_ksi_df['DATE']
]

In [14]:
new_ksi_df['HOLIDAY'].value_counts()

None                         16431
New Year's Day                  52
Thanksgiving                    48
Canada Day                      48
Labour Day                      46
Civic Holiday                   46
Christmas Day                   45
Good Friday                     39
Family Day                      37
Victoria Day                    37
Canada Day (Observed)           13
Boxing Day (Observed)           12
Boxing Day                       4
New Year's Day (Observed)        2
Name: HOLIDAY, dtype: int64

In [15]:
for holiday in new_ksi_df['HOLIDAY']:
    new_ksi_df['HOLIDAY'].replace(['Canada Day (Observed)','Boxing Day (Observed)', "New Year's Day (Observed)" ], ['Canada Day', 'Boxing Day', "New Year's Day"], inplace=True)

In [16]:
new_ksi_df['HOLIDAY'].value_counts()

None              16431
Canada Day           61
New Year's Day       54
Thanksgiving         48
Labour Day           46
Civic Holiday        46
Christmas Day        45
Good Friday          39
Family Day           37
Victoria Day         37
Boxing Day           16
Name: HOLIDAY, dtype: int64

In [17]:
new_ksi_df.dtypes

ACCNUM                           int64
YEAR                             int64
DATE               datetime64[ns, UTC]
HOUR                             int64
ROAD_CLASS                      object
DISTRICT                        object
LATITUDE                       float64
LONGITUDE                      float64
LOCCOORD                        object
TRAFFCTL                        object
VISIBILITY                      object
LIGHT                           object
RDSFCOND                        object
ACCLASS                         object
IMPACTYPE                       object
INVTYPE                         object
INVAGE                          object
INJURY                          object
VEHTYPE                         object
MANOEUVER                       object
PEDESTRIAN                      object
CYCLIST                         object
AUTOMOBILE                      object
MOTORCYCLE                      object
TRUCK                           object
TRSN_CITY_VEH                   object
EMERG_VEH                       object
PASSENGER                       object
SPEEDING                        object
AG_DRIV                         object
REDLIGHT                        object
ALCOHOL                         object
DISABILITY                      object
POLICE_DIVISION                 object
HOOD_ID                          int64
NEIGHBOURHOOD                   object
ObjectId                         int64
WEEKDAY                         object
IS_WEEKEND                       int32
IS_HOLIDAY                       int64
HOLIDAY                         object
dtype: object

In [18]:
new_ksi_df['MONTH'] = new_ksi_df['DATE'].dt.month
new_ksi_df['DAY'] = new_ksi_df['DATE'].dt.day
new_ksi_df.head(1)

,ACCNUM,YEAR,DATE,HOUR,ROAD_CLASS,DISTRICT,LATITUDE,LONGITUDE,LOCCOORD,TRAFFCTL,...,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId,WEEKDAY,IS_WEEKEND,IS_HOLIDAY,HOLIDAY,MONTH,DAY
0,892658,2006,2006-03-11 05:00:00+00:00,8,Major Arterial,Toronto and East York,43.656345,-79.45249,Intersection,Traffic Signal,...,D11,88,High Park North (88),1,Saturday,1,0,None,3,11

In [19]:
def time(x):
    if (x > 5) and (x <= 12):
        return 'Morning'
    elif (x > 12) and (x <= 17 ):
        return 'Afternoon'
    elif (x > 17) and (x <= 21):
        return'Evening'
    elif (x > 16) and (x <= 20) :
        return 'Night'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x > 0) and (x <= 5):
        return'Night'

new_ksi_df['TIME'] = new_ksi_df['HOUR'].apply(time)

In [20]:
new_ksi_df.columns

Index(['ACCNUM', 'YEAR', 'DATE', 'HOUR', 'ROAD_CLASS', 'DISTRICT', 'LATITUDE',
       'LONGITUDE', 'LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND',
       'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY', 'VEHTYPE',
       'MANOEUVER', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE',
       'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER', 'SPEEDING',
       'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY', 'POLICE_DIVISION',
       'HOOD_ID', 'NEIGHBOURHOOD', 'ObjectId', 'WEEKDAY', 'IS_WEEKEND',
       'IS_HOLIDAY', 'HOLIDAY', 'MONTH', 'DAY', 'TIME'],
      dtype='object')

In [21]:
new_ksi_df = new_ksi_df[['ACCNUM', 'YEAR', 'DATE','MONTH', 'DAY', 'HOUR', 'TIME','WEEKDAY', 'IS_WEEKEND', 'IS_HOLIDAY',
       'HOLIDAY', 'ROAD_CLASS', 'DISTRICT', 'LATITUDE',
       'LONGITUDE', 'LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND',
       'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY', 'VEHTYPE',
       'MANOEUVER', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE',
       'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER', 'SPEEDING',
       'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY', 'POLICE_DIVISION',
       'HOOD_ID', 'NEIGHBOURHOOD','ObjectId']]

new_ksi_df.head(1)

,ACCNUM,YEAR,DATE,MONTH,DAY,HOUR,TIME,WEEKDAY,IS_WEEKEND,IS_HOLIDAY,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1

In [22]:
cols = ['PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE',
       'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER', 'SPEEDING',
       'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY']

for column in cols:
    new_ksi_df[column].replace(['<Null>', 'Yes'], [0,1], inplace=True)

In [23]:
new_ksi_df.head()

,ACCNUM,YEAR,DATE,MONTH,DAY,HOUR,TIME,WEEKDAY,IS_WEEKEND,IS_HOLIDAY,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,D11,88,High Park North (88),1
1,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,D11,88,High Park North (88),2
2,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,D42,131,Rouge (131),3
3,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,D42,131,Rouge (131),4
4,892682,2006,2006-03-12 05:00:00+00:00,3,12,2,Night,Sunday,1,0,...,0,0,0,0,1,0,D41,138,Eglinton East (138),5

In [24]:
ksi_cat = new_ksi_df.dtypes[new_ksi_df.dtypes == "object"].index.tolist()
new_ksi_df[ksi_cat].nunique()

TIME                 4
WEEKDAY              7
HOLIDAY             11
ROAD_CLASS          11
DISTRICT             6
LOCCOORD             8
TRAFFCTL            11
VISIBILITY           9
LIGHT                9
RDSFCOND            10
ACCLASS              3
IMPACTYPE           11
INVTYPE             19
INVAGE              21
INJURY               6
VEHTYPE             28
MANOEUVER           17
POLICE_DIVISION     17
NEIGHBOURHOOD      140
dtype: int64

In [25]:
new_ksi_df['ROAD_CLASS'].value_counts()

Major Arterial         11976
Minor Arterial          2598
Collector                929
Local                    761
<Null>                   497
Expressway                52
Other                     25
Laneway                   10
Pending                    7
Expressway Ramp            4
Major Arterial Ramp        1
Name: ROAD_CLASS, dtype: int64

In [26]:
for x in new_ksi_df['ROAD_CLASS']:
    new_ksi_df['ROAD_CLASS'].replace(['<Null>', 'Expressway Ramp', 'Major Arterial Ramp'], ['Other', 'Expressway', 'Major Arterial'], inplace=True)

In [27]:
new_ksi_df['ROAD_CLASS'].value_counts()

Major Arterial    11977
Minor Arterial     2598
Collector           929
Local               761
Other               522
Expressway           56
Laneway              10
Pending               7
Name: ROAD_CLASS, dtype: int64

In [28]:
new_ksi_df['DISTRICT'].value_counts()

Toronto and East York    5617
Etobicoke York           3884
Scarborough              3798
North York               3343
<Null>                    141
Toronto East York          77
Name: DISTRICT, dtype: int64

In [29]:
for x in new_ksi_df['DISTRICT']:
    new_ksi_df['DISTRICT'].replace(['Toronto East York'], ['Toronto and East York'], inplace=True)

In [30]:
new_ksi_df['LOCCOORD'].value_counts()

Intersection                           11141
Mid-Block                               5598
<Null>                                   105
Exit Ramp Westbound                        5
Mid-Block (Abnormal)                       4
Exit Ramp Southbound                       3
Entrance Ramp Westbound                    2
Park, Private Property, Public Lane        2
Name: LOCCOORD, dtype: int64

In [31]:
for x in new_ksi_df['LOCCOORD']:
    new_ksi_df['LOCCOORD'].replace(['Exit Ramp Westbound', 'Exit Ramp Southbound', 'Mid-Block (Abnormal)', '<Null>', 'Entrance Ramp Westbound', 'Park, Private Property, Public Lane' ], ['Other', 'Other', 'Mid-Block', 'Other', 'Other', 'Other'], inplace=True)

In [32]:
new_ksi_df['LOCCOORD'].value_counts()

Intersection    11141
Mid-Block        5602
Other             117
Name: LOCCOORD, dtype: int64

In [33]:
new_ksi_df['TRAFFCTL'].value_counts()

No Control              8092
Traffic Signal          7104
Stop Sign               1295
Pedestrian Crossover     195
Traffic Controller       104
<Null>                    29
Yield Sign                16
Streetcar (Stop for)      16
Traffic Gate               5
School Guard               2
Police Control             2
Name: TRAFFCTL, dtype: int64

In [34]:
TRAFFCTL_counts = new_ksi_df['TRAFFCTL'].value_counts()
replace_TRAFFCTL = list(TRAFFCTL_counts[TRAFFCTL_counts < 1000].index)

for x in replace_TRAFFCTL:
    new_ksi_df['TRAFFCTL'] = new_ksi_df['TRAFFCTL'].replace(x,"Other")

In [35]:
new_ksi_df['TRAFFCTL'].value_counts()

No Control        8092
Traffic Signal    7104
Stop Sign         1295
Other              369
Name: TRAFFCTL, dtype: int64

In [36]:
new_ksi_df['VISIBILITY'].value_counts()

Clear                     14476
Rain                       1819
Snow                        332
Other                        99
Fog, Mist, Smoke, Dust       46
Freezing Rain                43
Drifting Snow                19
<Null>                       18
Strong wind                   8
Name: VISIBILITY, dtype: int64

In [37]:
for x in new_ksi_df['VISIBILITY']:
    new_ksi_df['VISIBILITY'].replace(['Drifting Snow', '<Null>', 'Strong wind', 'Freezing Rain'], ['Snow', 'Other', 'Other', 'Snow'], inplace=True)

In [38]:
new_ksi_df['VISIBILITY'].value_counts()

Clear                     14476
Rain                       1819
Snow                        394
Other                       125
Fog, Mist, Smoke, Dust       46
Name: VISIBILITY, dtype: int64

In [39]:
new_ksi_df['LIGHT'].value_counts()

Daylight                9683
Dark                    3582
Dark, artificial        2854
Dusk                     226
Dusk, artificial         184
Daylight, artificial     128
Dawn                     104
Dawn, artificial          93
Other                      6
Name: LIGHT, dtype: int64

In [40]:
for x in new_ksi_df['LIGHT']:
    new_ksi_df['LIGHT'].replace(['Daylight, artificial', 'Dark, artificial', 'Dusk, artificial', 'Dawn, artificial' ], ['Daylight', 'Dark', 'Dusk', 'Dawn'], inplace=True)

In [41]:
new_ksi_df['LIGHT'].value_counts()

Daylight    9811
Dark        6436
Dusk         410
Dawn         197
Other          6
Name: LIGHT, dtype: int64

In [42]:
new_ksi_df['RDSFCOND'].value_counts()

Dry                     13435
Wet                      2870
Loose Snow                166
Other                     147
Slush                      96
Ice                        73
Packed Snow                42
<Null>                     23
Loose Sand or Gravel        7
Spilled liquid              1
Name: RDSFCOND, dtype: int64

In [43]:
for x in new_ksi_df['RDSFCOND']:
    new_ksi_df['RDSFCOND'].replace(['Loose Snow', 'Packed Snow', '<Null>', 'Loose Sand or Gravel', 'Spilled liquid' ], ['Snow', 'Snow', 'Other', 'Other', 'Other'], inplace=True)

In [44]:
new_ksi_df['RDSFCOND'].value_counts()

Dry      13435
Wet       2870
Snow       208
Other      178
Slush       96
Ice         73
Name: RDSFCOND, dtype: int64

In [45]:
new_ksi_df['ACCLASS'].value_counts()

Non-Fatal Injury        14561
Fatal                    2297
Property Damage Only        2
Name: ACCLASS, dtype: int64

In [46]:
for x in new_ksi_df['ACCLASS']:
    new_ksi_df['ACCLASS'].replace(['Non-Fatal Injury', 'Property Damage Only' ], ['Non-Fatal', 'Non-Fatal'], inplace=True)

In [47]:
new_ksi_df['ACCLASS'].value_counts()

Non-Fatal    14563
Fatal         2297
Name: ACCLASS, dtype: int64

In [48]:
new_ksi_df['IMPACTYPE'].value_counts()

Pedestrian Collisions     6811
Turning Movement          2552
Cyclist Collisions        1674
Rear End                  1602
SMV Other                 1312
Angle                     1206
Approaching                870
Sideswipe                  466
Other                      182
SMV Unattended Vehicle     181
<Null>                       4
Name: IMPACTYPE, dtype: int64

In [49]:
for x in new_ksi_df['IMPACTYPE']:
    new_ksi_df['IMPACTYPE'].replace(['SMV Other', 'SMV Unattended Vehicle', '<Null>' ], ['Slow Moving Vehicle', 'Slow Moving Vehicle', 'Other'], inplace=True)

In [50]:
new_ksi_df['IMPACTYPE'].value_counts()

Pedestrian Collisions    6811
Turning Movement         2552
Cyclist Collisions       1674
Rear End                 1602
Slow Moving Vehicle      1493
Angle                    1206
Approaching               870
Sideswipe                 466
Other                     186
Name: IMPACTYPE, dtype: int64

In [51]:
new_ksi_df['INVTYPE'].value_counts()

Driver                  7618
Pedestrian              2871
Passenger               2543
Vehicle Owner           1636
Cyclist                  726
Motorcycle Driver        607
Truck Driver             316
Other Property Owner     257
Other                    174
Motorcycle Passenger      32
Moped Driver              27
Driver - Not Hit          17
Wheelchair                13
<Null>                    12
In-Line Skater             5
Cyclist Passenger          2
Trailer Owner              2
Pedestrian - Not Hit       1
Witness                    1
Name: INVTYPE, dtype: int64

In [52]:
for x in new_ksi_df['INVTYPE']:
    new_ksi_df['INVTYPE'].replace(['Motorcycle Driver', 'Truck Driver', 'Other Property Owner', 'Motorcycle Passenger'], ['Motorcyclist', 'Driver', 'Other', 'Passenger'], inplace=True)

In [53]:
INVTYPE_counts = new_ksi_df['INVTYPE'].value_counts()
replace_INVTYPE = list(INVTYPE_counts[INVTYPE_counts < 250].index)

for x in replace_INVTYPE:
    new_ksi_df['INVTYPE'] = new_ksi_df['INVTYPE'].replace(x,"Other")

In [54]:
new_ksi_df['INVTYPE'].value_counts()

Driver           7934
Pedestrian       2871
Passenger        2575
Vehicle Owner    1636
Cyclist           726
Motorcyclist      607
Other             511
Name: INVTYPE, dtype: int64

In [55]:
new_ksi_df['INVAGE'].value_counts()

unknown     2573
20 to 24    1561
25 to 29    1504
30 to 34    1248
50 to 54    1222
35 to 39    1205
40 to 44    1181
45 to 49    1153
55 to 59     993
60 to 64     796
15 to 19     766
65 to 69     614
70 to 74     488
75 to 79     402
80 to 84     307
10 to 14     231
85 to 89     196
5 to 9       183
0 to 4       167
90 to 94      56
Over 95       14
Name: INVAGE, dtype: int64

In [56]:
for x in new_ksi_df['INVAGE']:
    new_ksi_df['INVAGE'].replace(['0 to 4', '5 to 9', '10 to 14', '15 to 19'], ['19 & Under', '19 & Under', '19 & Under', '19 & Under'], inplace=True)
    new_ksi_df['INVAGE'].replace(['20 to 24','25 to 29', '30 to 34', '35 to 39'], ['20 to 39', '20 to 39', '20 to 39', '20 to 39'], inplace=True)
    new_ksi_df['INVAGE'].replace(['40 to 44', '45 to 49', '50 to 54', '55 to 59'], ['40 to 59', '40 to 59', '40 to 59', '40 to 59'], inplace=True)
    new_ksi_df['INVAGE'].replace(['60 to 64', '65 to 69', '70 to 74', '75 to 79'], ['60 to 79', '60 to 79', '60 to 79', '60 to 79'], inplace=True)
    new_ksi_df['INVAGE'].replace(['80 to 84', '85 to 89', '90 to 94', 'Over 95'], ['80 & Over', '80 & Over', '80 & Over', '80 & Over'], inplace=True)

In [57]:
new_ksi_df['INVAGE'].value_counts()

20 to 39      5518
40 to 59      4549
unknown       2573
60 to 79      2300
19 & Under    1347
80 & Over      573
Name: INVAGE, dtype: int64

In [58]:
new_ksi_df['INJURY'].value_counts()

None       6406
Major      5668
<Null>     1612
Minor      1311
Minimal    1042
Fatal       821
Name: INJURY, dtype: int64

In [59]:
for x in new_ksi_df['INJURY']:
    new_ksi_df['INJURY'].replace(['<Null>'], ['unknown'], inplace=True)

In [60]:
new_ksi_df['INJURY'].value_counts()

None       6406
Major      5668
unknown    1612
Minor      1311
Minimal    1042
Fatal       821
Name: INJURY, dtype: int64

In [61]:
new_ksi_df['VEHTYPE'].value_counts()

Automobile, Station Wagon           6890
Other                               4746
<Null>                              2813
Bicycle                              722
Motorcycle                           608
Municipal Transit Bus (TTC)          249
Pick Up Truck                        179
Truck - Open                         175
Passenger Van                        118
Delivery Van                          72
Truck - Closed (Blazer, etc)          60
Street Car                            42
Truck - Dump                          34
Truck-Tractor                         33
Taxi                                  28
Moped                                 22
Truck (other)                         13
Bus (Other) (Go Bus, Gray Coach)      13
Intercity Bus                         10
Truck - Tank                          10
School Bus                             5
Tow Truck                              4
Construction Equipment                 4
Police Vehicle                         4
Fire Vehicle                           3
Truck - Car Carrier                    1
Off Road - 2 Wheels                    1
Other Emergency Vehicle                1
Name: VEHTYPE, dtype: int64

In [62]:
trucks = new_ksi_df[new_ksi_df['VEHTYPE'].str.contains("Truck")]
bus = new_ksi_df[new_ksi_df['VEHTYPE'].str.contains("Bus")]

for x in trucks['VEHTYPE']:
    new_ksi_df['VEHTYPE'] = new_ksi_df['VEHTYPE'].replace(x,"Truck")

for x in bus['VEHTYPE']:
    new_ksi_df['VEHTYPE'] = new_ksi_df['VEHTYPE'].replace(x,"Bus")

In [63]:
new_ksi_df['VEHTYPE'].value_counts()

Automobile, Station Wagon    6890
Other                        4746
<Null>                       2813
Bicycle                       722
Motorcycle                    608
Truck                         509
Bus                           277
Passenger Van                 118
Delivery Van                   72
Street Car                     42
Taxi                           28
Moped                          22
Construction Equipment          4
Police Vehicle                  4
Fire Vehicle                    3
Other Emergency Vehicle         1
Off Road - 2 Wheels             1
Name: VEHTYPE, dtype: int64

In [64]:
for x in new_ksi_df['VEHTYPE']:
    new_ksi_df['VEHTYPE'].replace(['<Null>', 'Bus', 'Street Car', 'Passenger Van', 'Delivery Van', 'Taxi', 'Police Vehicle'  ], ['Other', 'Public Transit', 'Public Transit', 'Automobile, Station Wagon', 'Automobile, Station Wagon', 'Automobile, Station Wagon', 'Automobile, Station Wagon' ], inplace=True)

In [65]:
VEHTYPE_counts = new_ksi_df['VEHTYPE'].value_counts()
replace_VEHTYPE = list(VEHTYPE_counts[VEHTYPE_counts < 300].index)

for x in replace_VEHTYPE:
    new_ksi_df['VEHTYPE'] = new_ksi_df['VEHTYPE'].replace(x,"Other")

In [66]:
new_ksi_df['VEHTYPE'].value_counts()

Other                        7590
Automobile, Station Wagon    7112
Bicycle                       722
Motorcycle                    608
Truck                         509
Public Transit                319
Name: VEHTYPE, dtype: int64

In [67]:
new_ksi_df['MANOEUVER'].value_counts()

<Null>                                 7233
Going Ahead                            5694
Turning Left                           1630
Stopped                                 576
Turning Right                           432
Slowing or Stopping                     249
Changing Lanes                          203
Other                                   176
Parked                                  175
Unknown                                 120
Reversing                               113
Making U Turn                            99
Overtaking                               87
Pulling Away from Shoulder or Curb       38
Merging                                  17
Pulling Onto Shoulder or towardCurb      14
Disabled                                  4
Name: MANOEUVER, dtype: int64

In [68]:
MANOEUVER_counts = new_ksi_df['MANOEUVER'].value_counts()
replace_MANOEUVER = list(MANOEUVER_counts[MANOEUVER_counts < 100].index)

for x in replace_MANOEUVER:
    new_ksi_df['MANOEUVER'] = new_ksi_df['MANOEUVER'].replace(x,"Other")
    
for x in new_ksi_df['MANOEUVER']:
    new_ksi_df['MANOEUVER'].replace(['<Null>'], ['Not Applicable'], inplace=True)

In [69]:
new_ksi_df['MANOEUVER'].value_counts()

Not Applicable         7233
Going Ahead            5694
Turning Left           1630
Stopped                 576
Other                   435
Turning Right           432
Slowing or Stopping     249
Changing Lanes          203
Parked                  175
Unknown                 120
Reversing               113
Name: MANOEUVER, dtype: int64

In [70]:
new_ksi_df['POLICE_DIVISION'] = new_ksi_df['POLICE_DIVISION'].str[1:].astype(int)

In [71]:
new_ksi_df['POLICE_DIVISION'].value_counts()

42    1664
41    1297
22    1202
32    1193
23    1164
14    1163
43    1024
52     947
51     883
31     878
53     877
33     851
55     816
11     809
13     794
12     737
54     561
Name: POLICE_DIVISION, dtype: int64

In [72]:
new_ksi_df['NEIGHBOURHOOD'] = new_ksi_df['NEIGHBOURHOOD'].str.split("\s+\(").str[0]

In [73]:
new_ksi_df.head()

,ACCNUM,YEAR,DATE,MONTH,DAY,HOUR,TIME,WEEKDAY,IS_WEEKEND,IS_HOLIDAY,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,11,88,High Park North,1
1,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,11,88,High Park North,2
2,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,42,131,Rouge,3
3,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,42,131,Rouge,4
4,892682,2006,2006-03-12 05:00:00+00:00,3,12,2,Night,Sunday,1,0,...,0,0,0,0,1,0,41,138,Eglinton East,5

In [74]:
new_ksi_df.columns

Index(['ACCNUM', 'YEAR', 'DATE', 'MONTH', 'DAY', 'HOUR', 'TIME', 'WEEKDAY',
       'IS_WEEKEND', 'IS_HOLIDAY', 'HOLIDAY', 'ROAD_CLASS', 'DISTRICT',
       'LATITUDE', 'LONGITUDE', 'LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT',
       'RDSFCOND', 'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY',
       'VEHTYPE', 'MANOEUVER', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE',
       'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER',
       'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY',
       'POLICE_DIVISION', 'HOOD_ID', 'NEIGHBOURHOOD', 'ObjectId'],
      dtype='object')

In [77]:
new_ksi_df = new_ksi_df.rename(columns={
    'ACCNUM': 'Accident Number',
    'YEAR': 'Year',
    'DATE': 'Date',
    'MONTH': 'Month',
    'DAY':'Day',
    'HOUR': 'Hour',
    'TIME': 'Time',
    'WEEKDAY': 'Weekday',
    'IS_WEEKEND':'Is_Weekend',
    'IS_HOLIDAY': 'Is_Holiday',
    'HOLIDAY': 'Holiday',
    'ROAD_CLASS': 'Road Classification',
    'DISTRICT': 'City District',
    'LATITUDE': 'Latitude',
    'LONGITUDE': 'Longitude',
    'LOCCOORD': 'Location Coordinate',
    'TRAFFCTL': 'Traffic Control',
    'VISIBILITY': 'Environment Condition',
    'LIGHT': 'Light Condition',
    'RDSFCOND': 'Road Surface Condition',
    'ACCLASS': 'Classification of Accident',
    'IMPACTYPE': 'Initial Impact Type',
    'INVTYPE': 'Involvement Type',
    'INVAGE': 'Age of Involved Party',
    'INJURY': 'Severity of Injury',
    'VEHTYPE': 'Type of Vehicle',
    'MANOEUVER': 'Vehicle Manouever',
    'PEDESTRIAN': 'Pedestrian Involved',
    'CYCLIST': 'Cyclists Involved',
    'AUTOMOBILE': 'Driver Involved',
    'MOTORCYCLE': 'Motorcyclist Involved',
    'TRUCK': 'Truck Driver Involved',
    'TRSN_CITY_VEH': 'Transit or City Vehicle Involved',
    'EMERG_VEH': 'Emergency Vehicle Involved',
    'PASSENGER': 'Passenger Involved',
    'SPEEDING': 'Speeding Related',
    'AG_DRIV': 'Aggressive and Distracted Driving',
    'REDLIGHT': 'Red Light Related',
    'ALCOHOL': 'Alcohol Related',
    'DISABILITY': 'Medical or Physical Disability Related',
    'POLICE_DIVISION': 'Police Division',
    'HOOD_ID': 'Neighbourhood ID',
    'NEIGHBOURHOOD': 'Neighbourhood',
    'ObjectId': 'Object ID',
    })

In [78]:
new_ksi_df.head()

,Accident Number,Year,Date,Month,Day,Hour,Time,Weekday,Is_Weekend,Is_Holiday,...,Passenger Involved,Speeding Related,Aggressive and Distracted Driving,Red Light Related,Alcohol Related,Medical or Physical Disability Related,Police Division,Neighbourhood Identifier,Neighbourhood,Object Id
0,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,11,88,High Park North,1
1,892658,2006,2006-03-11 05:00:00+00:00,3,11,8,Morning,Saturday,1,0,...,0,0,1,0,0,0,11,88,High Park North,2
2,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,42,131,Rouge,3
3,892810,2006,2006-03-11 05:00:00+00:00,3,11,9,Morning,Saturday,1,0,...,0,0,1,1,0,0,42,131,Rouge,4
4,892682,2006,2006-03-12 05:00:00+00:00,3,12,2,Night,Sunday,1,0,...,0,0,0,0,1,0,41,138,Eglinton East,5

In [83]:
new_ksi_df.to_csv("../Preprocessing/clean_KSI.csv", index=False)