In [5]:
import pandas as pd
import os
import numpy as np
import sys
import time
import sqlalchemy as sql
import psycopg2 
import io

In [6]:
ksi_file = '/'.join([os.getcwd(), 'Kill or Seriously Injured', 'KSI.csv'])
ksi_data = pd.read_csv(ksi_file)

In [7]:
ksi_data.head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8.844611e+06,5.412414e+06,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
1,-8.844611e+06,5.412414e+06,3387731,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),2
2,-8.816480e+06,5.434843e+06,3388101,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),3
3,-8.816480e+06,5.434843e+06,3388102,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),4
4,-8.822759e+06,5.424516e+06,3387793,892682,2006,2006/03/12 05:00:00+00,240,2,EGLINTON AVE E,COMMONWEALTH AVE,...,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,D41,138,Eglinton East (138),5

In [8]:
ksi_data.replace('<Null>', np.nan, inplace=True)

In [9]:
ksi_data.head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8.844611e+06,5.412414e+06,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,NaN,NaN,Yes,NaN,NaN,NaN,D11,88,High Park North (88),1
1,-8.844611e+06,5.412414e+06,3387731,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,NaN,NaN,Yes,NaN,NaN,NaN,D11,88,High Park North (88),2
2,-8.816480e+06,5.434843e+06,3388101,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,NaN,NaN,Yes,Yes,NaN,NaN,D42,131,Rouge (131),3
3,-8.816480e+06,5.434843e+06,3388102,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,NaN,NaN,Yes,Yes,NaN,NaN,D42,131,Rouge (131),4
4,-8.822759e+06,5.424516e+06,3387793,892682,2006,2006/03/12 05:00:00+00,240,2,EGLINTON AVE E,COMMONWEALTH AVE,...,NaN,NaN,NaN,NaN,Yes,NaN,D41,138,Eglinton East (138),5

In [10]:
ksi_data.groupby('DISTRICT')['NEIGHBOURHOOD'].nunique()

DISTRICT
Etobicoke York           52
North York               68
Scarborough              35
Toronto East York        15
Toronto and East York    56
Name: NEIGHBOURHOOD, dtype: int64

In [11]:
ksi_data.groupby('POLICE_DIVISION')['NEIGHBOURHOOD'].nunique()

POLICE_DIVISION
D11    12
D12    11
D13    13
D14    12
D22    15
D23    11
D31     7
D32    18
D33    14
D41    10
D42     9
D43    11
D51     8
D52     6
D53    16
D54    12
D55    10
Name: NEIGHBOURHOOD, dtype: int64

In [12]:
ksi_data.groupby('PASSENGER')['PASSENGER'].count()

PASSENGER
Yes    6362
Name: PASSENGER, dtype: int64

In [13]:
driv_age_fatal = ksi_data.groupby(['INVTYPE', 'INVAGE','ACCLASS'])['ACCNUM'].count()

In [14]:
driv_age_fatal.reset_index().sort_values(by=['ACCNUM'], ascending=False)

           INVTYPE    INVAGE           ACCLASS  ACCNUM
258  Vehicle Owner   unknown  Non-Fatal Injury    1409
47          Driver  40 to 44  Non-Fatal Injury     658
40          Driver  25 to 29  Non-Fatal Injury     658
38          Driver  20 to 24  Non-Fatal Injury     654
44          Driver  35 to 39  Non-Fatal Injury     640
..             ...       ...               ...     ...
88    Moped Driver  60 to 64  Non-Fatal Injury       1
141          Other  70 to 74  Non-Fatal Injury       1
82    Moped Driver  25 to 29  Non-Fatal Injury       1
81    Moped Driver  20 to 24  Non-Fatal Injury       1
270        Witness   unknown             Fatal       1

[271 rows x 4 columns]

In [21]:
# write to excel sheet
driv_age_fatal.to_csv('driv_age_fatal.csv')

In [16]:
# write to database table
engine = sql.create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/group_7_final_project')

In [19]:
driv_age_fatal.to_sql('driv_age_fatal', con=engine, if_exists='replace')

In [20]:
engine.execute("SELECT * FROM driv_age_fatal").fetchall()

[('Cyclist', '10 to 14', 'Non-Fatal Injury', 15),
 ('Cyclist', '15 to 19', 'Fatal', 3),
 ('Cyclist', '15 to 19', 'Non-Fatal Injury', 43),
 ('Cyclist', '20 to 24', 'Fatal', 2),
 ('Cyclist', '20 to 24', 'Non-Fatal Injury', 87),
 ('Cyclist', '25 to 29', 'Fatal', 3),
 ('Cyclist', '25 to 29', 'Non-Fatal Injury', 82),
 ('Cyclist', '30 to 34', 'Non-Fatal Injury', 82),
 ('Cyclist', '35 to 39', 'Fatal', 6),
 ('Cyclist', '35 to 39', 'Non-Fatal Injury', 62),
 ('Cyclist', '40 to 44', 'Fatal', 2),
 ('Cyclist', '40 to 44', 'Non-Fatal Injury', 55),
 ('Cyclist', '45 to 49', 'Fatal', 4),
 ('Cyclist', '45 to 49', 'Non-Fatal Injury', 53),
 ('Cyclist', '5 to 9', 'Fatal', 2),
 ('Cyclist', '5 to 9', 'Non-Fatal Injury', 6),
 ('Cyclist', '50 to 54', 'Fatal', 4),
 ('Cyclist', '50 to 54', 'Non-Fatal Injury', 75),
 ('Cyclist', '55 to 59', 'Fatal', 5),
 ('Cyclist', '55 to 59', 'Non-Fatal Injury', 48),
 ('Cyclist', '60 to 64', 'Fatal', 3),
 ('Cyclist', '60 to 64', 'Non-Fatal Injury', 30),
 ('Cyclist', '65 to 69', 'Fatal', 2),
 ('Cyclist', '65 to 69', 'Non-Fatal Injury', 24),
 ('Cyclist', '70 to 74', 'Fatal', 3),
 ('Cyclist', '70 to 74', 'Non-Fatal Injury', 8),
 ('Cyclist', '75 to 79', 'Fatal', 1),
 ('Cyclist', '75 to 79', 'Non-Fatal Injury', 6),
 ('Cyclist', '80 to 84', 'Fatal', 1),
 ('Cyclist', '80 to 84', 'Non-Fatal Injury', 4),
 ('Cyclist', '85 to 89', 'Non-Fatal Injury', 1),
 ('Cyclist', 'unknown', 'Non-Fatal Injury', 4),
 ('Cyclist Passenger', '25 to 29', 'Non-Fatal Injury', 1),
 ('Cyclist Passenger', '60 to 64', 'Non-Fatal Injury', 1),
 ('Driver', '10 to 14', 'Non-Fatal Injury', 5),
 ('Driver', '15 to 19', 'Fatal', 36),
 ('Driver', '15 to 19', 'Non-Fatal Injury', 189),
 ('Driver', '20 to 24', 'Fatal', 93),
 ('Driver', '20 to 24', 'Non-Fatal Injury', 654),
 ('Driver', '25 to 29', 'Fatal', 111),
 ('Driver', '25 to 29', 'Non-Fatal Injury', 658),
 ('Driver', '30 to 34', 'Fatal', 79),
 ('Driver', '30 to 34', 'Non-Fatal Injury', 595),
 ('Driver', '35 to 39', 'Fatal', 71),
 ('Driver', '35 to 39', 'Non-Fatal Injury', 640),
 ('Driver', '35 to 39', 'Property Damage Only', 1),
 ('Driver', '40 to 44', 'Fatal', 83),
 ('Driver', '40 to 44', 'Non-Fatal Injury', 658),
 ('Driver', '45 to 49', 'Fatal', 76),
 ('Driver', '45 to 49', 'Non-Fatal Injury', 639),
 ('Driver', '45 to 49', 'Property Damage Only', 1),
 ('Driver', '50 to 54', 'Fatal', 94),
 ('Driver', '50 to 54', 'Non-Fatal Injury', 637),
 ('Driver', '55 to 59', 'Fatal', 76),
 ('Driver', '55 to 59', 'Non-Fatal Injury', 501),
 ('Driver', '60 to 64', 'Fatal', 49),
 ('Driver', '60 to 64', 'Non-Fatal Injury', 392),
 ('Driver', '65 to 69', 'Fatal', 39),
 ('Driver', '65 to 69', 'Non-Fatal Injury', 267),
 ('Driver', '70 to 74', 'Fatal', 27),
 ('Driver', '70 to 74', 'Non-Fatal Injury', 207),
 ('Driver', '75 to 79', 'Fatal', 26),
 ('Driver', '75 to 79', 'Non-Fatal Injury', 154),
 ('Driver', '80 to 84', 'Fatal', 21),
 ('Driver', '80 to 84', 'Non-Fatal Injury', 100),
 ('Driver', '85 to 89', 'Fatal', 17),
 ('Driver', '85 to 89', 'Non-Fatal Injury', 49),
 ('Driver', '90 to 94', 'Fatal', 5),
 ('Driver', '90 to 94', 'Non-Fatal Injury', 12),
 ('Driver', 'Over 95', 'Non-Fatal Injury', 1),
 ('Driver', 'unknown', 'Fatal', 25),
 ('Driver', 'unknown', 'Non-Fatal Injury', 330),
 ('Driver - Not Hit', '20 to 24', 'Fatal', 1),
 ('Driver - Not Hit', '30 to 34', 'Non-Fatal Injury', 1),
 ('Driver - Not Hit', '45 to 49', 'Non-Fatal Injury', 1),
 ('Driver - Not Hit', 'unknown', 'Fatal', 2),
 ('Driver - Not Hit', 'unknown', 'Non-Fatal Injury', 12),
 ('In-Line Skater', '15 to 19', 'Non-Fatal Injury', 2),
 ('In-Line Skater', '30 to 34', 'Non-Fatal Injury', 1),
 ('In-Line Skater', '50 to 54', 'Non-Fatal Injury', 2),
 ('Moped Driver', '15 to 19', 'Non-Fatal Injury', 1),
 ('Moped Driver', '20 to 24', 'Non-Fatal Injury', 1),
 ('Moped Driver', '25 to 29', 'Non-Fatal Injury', 1),
 ('Moped Driver', '35 to 39', 'Non-Fatal Injury', 5),
 ('Moped Driver', '40 to 44', 'Non-Fatal Injury', 4),
 ('Moped Driver', '45 to 49', 'Non-Fatal Injury', 1),
 ('Moped Driver', '50 to 54', 'Non-Fatal Injury', 5),
 ('Moped Driver', '55 to 59', 'Non-Fatal Injury', 6),
 ('Moped Driver', '60 to 64', 'Non-Fatal Injury', 1),
 ('Moped Driver', '65 to 69', 'Non-Fatal Injury', 1),
 ('Moped Driver', '70 to 74', 'Non-Fatal Injury', 1),
 ('Motorcycle Driver', '15 to 19', 'Non-Fatal Injury', 18),
 ('Motorcycle Driver', '20 to 24', 'Fatal', 12),
 ('Motorcycle Driver', '20 to 24', 'Non-Fatal Injury', 75),
 ('Motorcycle Driver', '25 to 29', 'Fatal', 15),
 ('Motorcycle Driver', '25 to 29', 'Non-Fatal Injury', 100),
 ('Motorcycle Driver', '30 to 34', 'Fatal', 16),
 ('Motorcycle Driver', '30 to 34', 'Non-Fatal Injury', 83),
 ('Motorcycle Driver', '35 to 39', 'Fatal', 10),
 ('Motorcycle Driver', '35 to 39', 'Non-Fatal Injury', 69),
 ('Motorcycle Driver', '40 to 44', 'Fatal', 6),
 ('Motorcycle Driver', '40 to 44', 'Non-Fatal Injury', 47),
 ('Motorcycle Driver', '45 to 49', 'Fatal', 7),
 ('Motorcycle Driver', '45 to 49', 'Non-Fatal Injury', 48),
 ('Motorcycle Driver', '50 to 54', 'Fatal', 2),
 ('Motorcycle Driver', '50 to 54', 'Non-Fatal Injury', 37),
 ('Motorcycle Driver', '55 to 59', 'Fatal', 3),
 ('Motorcycle Driver', '55 to 59', 'Non-Fatal Injury', 26),
 ('Motorcycle Driver', '60 to 64', 'Fatal', 1),
 ('Motorcycle Driver', '60 to 64', 'Non-Fatal Injury', 13),
 ('Motorcycle Driver', '65 to 69', 'Non-Fatal Injury', 4),
 ('Motorcycle Driver', '70 to 74', 'Fatal', 2),
 ('Motorcycle Driver', '70 to 74', 'Non-Fatal Injury', 2),
 ('Motorcycle Driver', '75 to 79', 'Fatal', 1),
 ('Motorcycle Driver', '75 to 79', 'Non-Fatal Injury', 1),
 ('Motorcycle Driver', 'unknown', 'Fatal', 1),
 ('Motorcycle Driver', 'unknown', 'Non-Fatal Injury', 8),
 ('Motorcycle Passenger', '10 to 14', 'Non-Fatal Injury', 2),
 ('Motorcycle Passenger', '15 to 19', 'Non-Fatal Injury', 5),
 ('Motorcycle Passenger', '20 to 24', 'Fatal', 2),
 ('Motorcycle Passenger', '20 to 24', 'Non-Fatal Injury', 8),
 ('Motorcycle Passenger', '25 to 29', 'Non-Fatal Injury', 8),
 ('Motorcycle Passenger', '30 to 34', 'Non-Fatal Injury', 2),
 ('Motorcycle Passenger', '35 to 39', 'Non-Fatal Injury', 2),
 ('Motorcycle Passenger', '40 to 44', 'Non-Fatal Injury', 1),
 ('Motorcycle Passenger', '50 to 54', 'Non-Fatal Injury', 1),
 ('Motorcycle Passenger', 'unknown', 'Non-Fatal Injury', 1),
 ('Other', '0 to 4', 'Non-Fatal Injury', 1),
 ('Other', '10 to 14', 'Non-Fatal Injury', 1),
 ('Other', '15 to 19', 'Non-Fatal Injury', 1),
 ('Other', '20 to 24', 'Non-Fatal Injury', 2),
 ('Other', '25 to 29', 'Non-Fatal Injury', 2),
 ('Other', '30 to 34', 'Non-Fatal Injury', 2),
 ('Other', '35 to 39', 'Fatal', 1),
 ('Other', '35 to 39', 'Non-Fatal Injury', 2),
 ('Other', '40 to 44', 'Non-Fatal Injury', 2),
 ('Other', '5 to 9', 'Non-Fatal Injury', 1),
 ('Other', '50 to 54', 'Fatal', 1),
 ('Other', '50 to 54', 'Non-Fatal Injury', 2),
 ('Other', '55 to 59', 'Fatal', 1),
 ('Other', '60 to 64', 'Non-Fatal Injury', 3),
 ('Other', '70 to 74', 'Non-Fatal Injury', 1),
 ('Other', 'Over 95', 'Non-Fatal Injury', 4),
 ('Other', 'unknown', 'Fatal', 37),
 ('Other', 'unknown', 'Non-Fatal Injury', 110),
 ('Other Property Owner', 'unknown', 'Fatal', 39),
 ('Other Property Owner', 'unknown', 'Non-Fatal Injury', 218),
 ('Passenger', '0 to 4', 'Fatal', 7),
 ('Passenger', '0 to 4', 'Non-Fatal Injury', 126),
 ('Passenger', '10 to 14', 'Fatal', 12),
 ('Passenger', '10 to 14', 'Non-Fatal Injury', 109),
 ('Passenger', '15 to 19', 'Fatal', 50),
 ('Passenger', '15 to 19', 'Non-Fatal Injury', 260),
 ('Passenger', '20 to 24', 'Fatal', 58),
 ('Passenger', '20 to 24', 'Non-Fatal Injury', 340),
 ('Passenger', '25 to 29', 'Fatal', 33),
 ('Passenger', '25 to 29', 'Non-Fatal Injury', 222),
 ('Passenger', '30 to 34', 'Fatal', 21),
 ('Passenger', '30 to 34', 'Non-Fatal Injury', 151),
 ('Passenger', '35 to 39', 'Fatal', 20),
 ('Passenger', '35 to 39', 'Non-Fatal Injury', 113),
 ('Passenger', '40 to 44', 'Fatal', 18),
 ('Passenger', '40 to 44', 'Non-Fatal Injury', 97),
 ('Passenger', '45 to 49', 'Fatal', 10),
 ('Passenger', '45 to 49', 'Non-Fatal Injury', 97),
 ('Passenger', '5 to 9', 'Fatal', 12),
 ('Passenger', '5 to 9', 'Non-Fatal Injury', 118),
 ('Passenger', '50 to 54', 'Fatal', 19),
 ('Passenger', '50 to 54', 'Non-Fatal Injury', 101),
 ('Passenger', '55 to 59', 'Fatal', 12),
 ('Passenger', '55 to 59', 'Non-Fatal Injury', 97),
 ('Passenger', '60 to 64', 'Fatal', 9),
 ('Passenger', '60 to 64', 'Non-Fatal Injury', 81),
 ('Passenger', '65 to 69', 'Fatal', 8),
 ('Passenger', '65 to 69', 'Non-Fatal Injury', 67),
 ('Passenger', '70 to 74', 'Fatal', 9),
 ('Passenger', '70 to 74', 'Non-Fatal Injury', 47),
 ('Passenger', '75 to 79', 'Fatal', 3),
 ('Passenger', '75 to 79', 'Non-Fatal Injury', 41),
 ('Passenger', '80 to 84', 'Fatal', 12),
 ('Passenger', '80 to 84', 'Non-Fatal Injury', 34),
 ('Passenger', '85 to 89', 'Fatal', 5),
 ('Passenger', '85 to 89', 'Non-Fatal Injury', 25),
 ('Passenger', '90 to 94', 'Fatal', 7),
 ('Passenger', '90 to 94', 'Non-Fatal Injury', 6),
 ('Passenger', 'Over 95', 'Non-Fatal Injury', 2),
 ('Passenger', 'unknown', 'Fatal', 11),
 ('Passenger', 'unknown', 'Non-Fatal Injury', 73),
 ('Pedestrian', '0 to 4', 'Fatal', 5),
 ('Pedestrian', '0 to 4', 'Non-Fatal Injury', 28),
 ('Pedestrian', '10 to 14', 'Fatal', 5),
 ('Pedestrian', '10 to 14', 'Non-Fatal Injury', 82),
 ('Pedestrian', '15 to 19', 'Fatal', 21),
 ('Pedestrian', '15 to 19', 'Non-Fatal Injury', 136),
 ('Pedestrian', '20 to 24', 'Fatal', 20),
 ('Pedestrian', '20 to 24', 'Non-Fatal Injury', 190),
 ('Pedestrian', '25 to 29', 'Fatal', 17),
 ('Pedestrian', '25 to 29', 'Non-Fatal Injury', 216),
 ('Pedestrian', '30 to 34', 'Fatal', 23),
 ('Pedestrian', '30 to 34', 'Non-Fatal Injury', 159),
 ('Pedestrian', '35 to 39', 'Fatal', 19),
 ('Pedestrian', '35 to 39', 'Non-Fatal Injury', 138),
 ('Pedestrian', '40 to 44', 'Fatal', 28),
 ('Pedestrian', '40 to 44', 'Non-Fatal Injury', 148),
 ('Pedestrian', '45 to 49', 'Fatal', 20),
 ('Pedestrian', '45 to 49', 'Non-Fatal Injury', 152),
 ('Pedestrian', '5 to 9', 'Fatal', 12),
 ('Pedestrian', '5 to 9', 'Non-Fatal Injury', 32),
 ('Pedestrian', '50 to 54', 'Fatal', 22),
 ('Pedestrian', '50 to 54', 'Non-Fatal Injury', 183),
 ('Pedestrian', '55 to 59', 'Fatal', 40),
 ('Pedestrian', '55 to 59', 'Non-Fatal Injury', 152),
 ('Pedestrian', '60 to 64', 'Fatal', 36),
 ('Pedestrian', '60 to 64', 'Non-Fatal Injury', 144),
 ('Pedestrian', '65 to 69', 'Fatal', 44),
 ('Pedestrian', '65 to 69', 'Non-Fatal Injury', 148),
 ('Pedestrian', '70 to 74', 'Fatal', 45),
 ('Pedestrian', '70 to 74', 'Non-Fatal Injury', 130),
 ('Pedestrian', '75 to 79', 'Fatal', 53),
 ('Pedestrian', '75 to 79', 'Non-Fatal Injury', 111),
 ('Pedestrian', '80 to 84', 'Fatal', 44),
 ('Pedestrian', '80 to 84', 'Non-Fatal Injury', 89),
 ('Pedestrian', '85 to 89', 'Fatal', 36),
 ('Pedestrian', '85 to 89', 'Non-Fatal Injury', 63),
 ('Pedestrian', '90 to 94', 'Fatal', 13),
 ('Pedestrian', '90 to 94', 'Non-Fatal Injury', 12),
 ('Pedestrian', 'Over 95', 'Fatal', 6),
 ('Pedestrian', 'Over 95', 'Non-Fatal Injury', 1),
 ('Pedestrian', 'unknown', 'Fatal', 3),
 ('Pedestrian', 'unknown', 'Non-Fatal Injury', 45),
 ('Pedestrian - Not Hit', '35 to 39', 'Non-Fatal Injury', 1),
 ('Trailer Owner', 'unknown', 'Non-Fatal Injury', 2),
 ('Truck Driver', '15 to 19', 'Non-Fatal Injury', 1),
 ('Truck Driver', '20 to 24', 'Fatal', 5),
 ('Truck Driver', '20 to 24', 'Non-Fatal Injury', 11),
 ('Truck Driver', '25 to 29', 'Fatal', 7),
 ('Truck Driver', '25 to 29', 'Non-Fatal Injury', 28),
 ('Truck Driver', '30 to 34', 'Fatal', 9),
 ('Truck Driver', '30 to 34', 'Non-Fatal Injury', 24),
 ('Truck Driver', '35 to 39', 'Fatal', 10),
 ('Truck Driver', '35 to 39', 'Non-Fatal Injury', 35),
 ('Truck Driver', '40 to 44', 'Fatal', 9),
 ('Truck Driver', '40 to 44', 'Non-Fatal Injury', 22),
 ('Truck Driver', '45 to 49', 'Fatal', 12),
 ('Truck Driver', '45 to 49', 'Non-Fatal Injury', 31),
 ('Truck Driver', '50 to 54', 'Fatal', 14),
 ('Truck Driver', '50 to 54', 'Non-Fatal Injury', 22),
 ('Truck Driver', '55 to 59', 'Fatal', 6),
 ('Truck Driver', '55 to 59', 'Non-Fatal Injury', 20),
 ('Truck Driver', '60 to 64', 'Fatal', 7),
 ('Truck Driver', '60 to 64', 'Non-Fatal Injury', 24),
 ('Truck Driver', '65 to 69', 'Fatal', 3),
 ('Truck Driver', '65 to 69', 'Non-Fatal Injury', 6),
 ('Truck Driver', '70 to 74', 'Non-Fatal Injury', 5),
 ('Truck Driver', '75 to 79', 'Non-Fatal Injury', 2),
 ('Truck Driver', 'unknown', 'Fatal', 1),
 ('Truck Driver', 'unknown', 'Non-Fatal Injury', 2),
 ('Vehicle Owner', 'unknown', 'Fatal', 227),
 ('Vehicle Owner', 'unknown', 'Non-Fatal Injury', 1409),
 ('Wheelchair', '40 to 44', 'Non-Fatal Injury', 1),
 ('Wheelchair', '45 to 49', 'Non-Fatal Injury', 1),
 ('Wheelchair', '50 to 54', 'Non-Fatal Injury', 1),
 ('Wheelchair', '60 to 64', 'Fatal', 1),
 ('Wheelchair', '60 to 64', 'Non-Fatal Injury', 1),
 ('Wheelchair', '65 to 69', 'Non-Fatal Injury', 1),
 ('Wheelchair', '70 to 74', 'Non-Fatal Injury', 1),
 ('Wheelchair', '75 to 79', 'Non-Fatal Injury', 3),
 ('Wheelchair', '80 to 84', 'Fatal', 1),
 ('Wheelchair', '80 to 84', 'Non-Fatal Injury', 1),
 ('Wheelchair', '90 to 94', 'Non-Fatal Injury', 1),
 ('Witness', 'unknown', 'Fatal', 1)]

In [1]:
impact_injury = ksi_data.groupby(['IMPACTYPE', 'INJURY'])['ACCNUM'].count()

NameError: name 'ksi_data' is not defined

In [23]:
impact_injury.reset_index().sort_values(by=['ACCNUM'], ascending=False)

                 IMPACTYPE   INJURY  ACCNUM
24   Pedestrian Collisions     None    3123
21   Pedestrian Collisions    Major    2309
49        Turning Movement     None     886
46        Turning Movement    Major     798
14      Cyclist Collisions     None     772
11      Cyclist Collisions    Major     673
31               SMV Other    Major     587
29                Rear End     None     552
20   Pedestrian Collisions    Fatal     467
26                Rear End    Major     462
4                    Angle     None     359
1                    Angle    Major     329
48        Turning Movement    Minor     304
47        Turning Movement  Minimal     275
6              Approaching    Major     255
27                Rear End  Minimal     218
8              Approaching    Minor     207
23   Pedestrian Collisions    Minor     198
3                    Angle    Minor     196
9              Approaching     None     193
34               SMV Other     None     191
28                Rear End    Minor     184
44               Sideswipe     None     183
2                    Angle  Minimal     166
22   Pedestrian Collisions  Minimal     150
41               Sideswipe    Major     139
33               SMV Other    Minor     135
30               SMV Other    Fatal     109
7              Approaching  Minimal      83
45        Turning Movement    Fatal      79
39  SMV Unattended Vehicle     None      75
19                   Other     None      71
32               SMV Other  Minimal      66
16                   Other    Major      63
36  SMV Unattended Vehicle    Major      53
43               Sideswipe    Minor      44
10      Cyclist Collisions    Fatal      41
5              Approaching    Fatal      40
42               Sideswipe  Minimal      39
0                    Angle    Fatal      37
12      Cyclist Collisions  Minimal      33
25                Rear End    Fatal      22
18                   Other    Minor      16
13      Cyclist Collisions    Minor      14
38  SMV Unattended Vehicle    Minor      13
35  SMV Unattended Vehicle    Fatal      10
40               Sideswipe    Fatal       9
17                   Other  Minimal       8
15                   Other    Fatal       6
37  SMV Unattended Vehicle  Minimal       2

In [24]:
# write to excel sheet
impact_injury.to_csv('impact_injury.csv')

In [25]:
impact_injury.to_sql('impact_injury', con=engine, if_exists='replace')

In [26]:
engine.execute("SELECT * FROM impact_injury").fetchall()

[('Angle', 'Fatal', 37),
 ('Angle', 'Major', 329),
 ('Angle', 'Minimal', 166),
 ('Angle', 'Minor', 196),
 ('Angle', 'None', 359),
 ('Approaching', 'Fatal', 40),
 ('Approaching', 'Major', 255),
 ('Approaching', 'Minimal', 83),
 ('Approaching', 'Minor', 207),
 ('Approaching', 'None', 193),
 ('Cyclist Collisions', 'Fatal', 41),
 ('Cyclist Collisions', 'Major', 673),
 ('Cyclist Collisions', 'Minimal', 33),
 ('Cyclist Collisions', 'Minor', 14),
 ('Cyclist Collisions', 'None', 772),
 ('Other', 'Fatal', 6),
 ('Other', 'Major', 63),
 ('Other', 'Minimal', 8),
 ('Other', 'Minor', 16),
 ('Other', 'None', 71),
 ('Pedestrian Collisions', 'Fatal', 467),
 ('Pedestrian Collisions', 'Major', 2309),
 ('Pedestrian Collisions', 'Minimal', 150),
 ('Pedestrian Collisions', 'Minor', 198),
 ('Pedestrian Collisions', 'None', 3123),
 ('Rear End', 'Fatal', 22),
 ('Rear End', 'Major', 462),
 ('Rear End', 'Minimal', 218),
 ('Rear End', 'Minor', 184),
 ('Rear End', 'None', 552),
 ('SMV Other', 'Fatal', 109),
 ('SMV Other', 'Major', 587),
 ('SMV Other', 'Minimal', 66),
 ('SMV Other', 'Minor', 135),
 ('SMV Other', 'None', 191),
 ('SMV Unattended Vehicle', 'Fatal', 10),
 ('SMV Unattended Vehicle', 'Major', 53),
 ('SMV Unattended Vehicle', 'Minimal', 2),
 ('SMV Unattended Vehicle', 'Minor', 13),
 ('SMV Unattended Vehicle', 'None', 75),
 ('Sideswipe', 'Fatal', 9),
 ('Sideswipe', 'Major', 139),
 ('Sideswipe', 'Minimal', 39),
 ('Sideswipe', 'Minor', 44),
 ('Sideswipe', 'None', 183),
 ('Turning Movement', 'Fatal', 79),
 ('Turning Movement', 'Major', 798),
 ('Turning Movement', 'Minimal', 275),
 ('Turning Movement', 'Minor', 304),
 ('Turning Movement', 'None', 886)]

In [30]:
man_fatal_injury = ksi_data.groupby(['MANOEUVER', 'INJURY'])['ACCNUM'].count()

In [31]:
man_fatal_injury.reset_index().sort_values(by=['ACCNUM'], ascending=False)

                              MANOEUVER   INJURY  ACCNUM
11                          Going Ahead     None    2619
8                           Going Ahead    Major    1994
61                         Turning Left     None    1178
10                          Going Ahead    Minor     467
9                           Going Ahead  Minimal     383
..                                  ...      ...     ...
17                              Merging    Fatal       1
52                              Stopped    Fatal       1
19                              Merging    Minor       1
40  Pulling Onto Shoulder or towardCurb    Fatal       1
38   Pulling Away from Shoulder or Curb    Minor       1

[72 rows x 3 columns]

In [32]:
# write to excel sheet
man_fatal_injury.to_csv('man_fatal_injury.csv')

In [33]:
man_fatal_injury.to_sql('man_fatal_injury', con=engine, if_exists='replace')
engine.execute("SELECT * FROM man_fatal_injury").fetchall()

[('Changing Lanes', 'Fatal', 9),
 ('Changing Lanes', 'Major', 76),
 ('Changing Lanes', 'Minimal', 8),
 ('Changing Lanes', 'Minor', 8),
 ('Changing Lanes', 'None', 102),
 ('Disabled', 'Major', 1),
 ('Disabled', 'None', 3),
 ('Going Ahead', 'Fatal', 223),
 ('Going Ahead', 'Major', 1994),
 ('Going Ahead', 'Minimal', 383),
 ('Going Ahead', 'Minor', 467),
 ('Going Ahead', 'None', 2619),
 ('Making U Turn', 'Fatal', 2),
 ('Making U Turn', 'Major', 23),
 ('Making U Turn', 'Minimal', 8),
 ('Making U Turn', 'Minor', 6),
 ('Making U Turn', 'None', 60),
 ('Merging', 'Fatal', 1),
 ('Merging', 'Major', 8),
 ('Merging', 'Minor', 1),
 ('Merging', 'None', 7),
 ('Other', 'Fatal', 3),
 ('Other', 'Major', 93),
 ('Other', 'Minimal', 15),
 ('Other', 'Minor', 22),
 ('Other', 'None', 43),
 ('Overtaking', 'Fatal', 2),
 ('Overtaking', 'Major', 45),
 ('Overtaking', 'Minimal', 1),
 ('Overtaking', 'Minor', 5),
 ('Overtaking', 'None', 34),
 ('Parked', 'Major', 4),
 ('Parked', 'Minimal', 1),
 ('Parked', 'Minor', 2),
 ('Parked', 'None', 162),
 ('Pulling Away from Shoulder or Curb', 'Fatal', 2),
 ('Pulling Away from Shoulder or Curb', 'Major', 3),
 ('Pulling Away from Shoulder or Curb', 'Minimal', 1),
 ('Pulling Away from Shoulder or Curb', 'Minor', 1),
 ('Pulling Away from Shoulder or Curb', 'None', 31),
 ('Pulling Onto Shoulder or towardCurb', 'Fatal', 1),
 ('Pulling Onto Shoulder or towardCurb', 'Major', 7),
 ('Pulling Onto Shoulder or towardCurb', 'Minor', 2),
 ('Pulling Onto Shoulder or towardCurb', 'None', 4),
 ('Reversing', 'Fatal', 2),
 ('Reversing', 'Major', 9),
 ('Reversing', 'None', 102),
 ('Slowing or Stopping', 'Fatal', 3),
 ('Slowing or Stopping', 'Major', 68),
 ('Slowing or Stopping', 'Minimal', 22),
 ('Slowing or Stopping', 'Minor', 11),
 ('Slowing or Stopping', 'None', 145),
 ('Stopped', 'Fatal', 1),
 ('Stopped', 'Major', 128),
 ('Stopped', 'Minimal', 67),
 ('Stopped', 'Minor', 71),
 ('Stopped', 'None', 309),
 ('Turning Left', 'Fatal', 17),
 ('Turning Left', 'Major', 230),
 ('Turning Left', 'Minimal', 104),
 ('Turning Left', 'Minor', 99),
 ('Turning Left', 'None', 1178),
 ('Turning Right', 'Fatal', 2),
 ('Turning Right', 'Major', 36),
 ('Turning Right', 'Minimal', 9),
 ('Turning Right', 'Minor', 6),
 ('Turning Right', 'None', 378),
 ('Unknown', 'Fatal', 3),
 ('Unknown', 'Major', 46),
 ('Unknown', 'Minimal', 2),
 ('Unknown', 'Minor', 4),
 ('Unknown', 'None', 65)]

In [34]:
alcohol_filter = ksi_data.loc[ksi_data['ALCOHOL'] == 'Yes']

age_dui_fatal = alcohol_filter.groupby(['INJURY', 'INVAGE'])['ACCNUM'].count()

In [35]:
age_dui_fatal.reset_index().sort_values(by=['ACCNUM'], ascending=False)

   INJURY    INVAGE  ACCNUM
71   None   unknown      49
15  Major  25 to 29      46
14  Major  20 to 24      41
44  Minor  20 to 24      33
16  Major  30 to 34      29
..    ...       ...     ...
67   None  70 to 74       1
68   None  75 to 79       1
69   None  80 to 84       1
70   None  85 to 89       1
55   None    0 to 4       1

[72 rows x 3 columns]

In [36]:
# write to excel sheet
age_dui_fatal.to_csv('age_dui_fatal.csv')

In [37]:
age_dui_fatal.to_sql('age_dui_fatal', con=engine, if_exists='replace')
engine.execute("SELECT * FROM age_dui_fatal").fetchall()

[('Fatal', '15 to 19', 5),
 ('Fatal', '20 to 24', 11),
 ('Fatal', '25 to 29', 8),
 ('Fatal', '30 to 34', 1),
 ('Fatal', '35 to 39', 2),
 ('Fatal', '40 to 44', 4),
 ('Fatal', '45 to 49', 2),
 ('Fatal', '55 to 59', 1),
 ('Fatal', '60 to 64', 3),
 ('Fatal', '80 to 84', 2),
 ('Fatal', '85 to 89', 1),
 ('Major', '0 to 4', 2),
 ('Major', '10 to 14', 3),
 ('Major', '15 to 19', 15),
 ('Major', '20 to 24', 41),
 ('Major', '25 to 29', 46),
 ('Major', '30 to 34', 29),
 ('Major', '35 to 39', 18),
 ('Major', '40 to 44', 16),
 ('Major', '45 to 49', 20),
 ('Major', '5 to 9', 3),
 ('Major', '50 to 54', 19),
 ('Major', '55 to 59', 7),
 ('Major', '60 to 64', 11),
 ('Major', '65 to 69', 10),
 ('Major', '70 to 74', 2),
 ('Major', '75 to 79', 2),
 ('Major', '85 to 89', 1),
 ('Major', 'unknown', 1),
 ('Minimal', '0 to 4', 1),
 ('Minimal', '15 to 19', 4),
 ('Minimal', '20 to 24', 16),
 ('Minimal', '25 to 29', 7),
 ('Minimal', '30 to 34', 4),
 ('Minimal', '35 to 39', 6),
 ('Minimal', '40 to 44', 6),
 ('Minimal', '45 to 49', 5),
 ('Minimal', '5 to 9', 3),
 ('Minimal', '50 to 54', 3),
 ('Minimal', '55 to 59', 5),
 ('Minimal', 'unknown', 3),
 ('Minor', '0 to 4', 1),
 ('Minor', '10 to 14', 2),
 ('Minor', '15 to 19', 13),
 ('Minor', '20 to 24', 33),
 ('Minor', '25 to 29', 22),
 ('Minor', '30 to 34', 10),
 ('Minor', '35 to 39', 7),
 ('Minor', '40 to 44', 10),
 ('Minor', '45 to 49', 5),
 ('Minor', '50 to 54', 5),
 ('Minor', '55 to 59', 6),
 ('Minor', '60 to 64', 3),
 ('Minor', '65 to 69', 3),
 ('Minor', 'unknown', 3),
 ('None', '0 to 4', 1),
 ('None', '15 to 19', 8),
 ('None', '20 to 24', 26),
 ('None', '25 to 29', 24),
 ('None', '30 to 34', 14),
 ('None', '35 to 39', 15),
 ('None', '40 to 44', 6),
 ('None', '45 to 49', 12),
 ('None', '50 to 54', 13),
 ('None', '55 to 59', 7),
 ('None', '60 to 64', 4),
 ('None', '65 to 69', 2),
 ('None', '70 to 74', 1),
 ('None', '75 to 79', 1),
 ('None', '80 to 84', 1),
 ('None', '85 to 89', 1),
 ('None', 'unknown', 49)]